
<a href="/">HOME</a>
<h1>Sign up  </h1>

<form action="/user/new" method="POST">
<br/>

<label>Username</label>
<input type="text" name="user[username]">
<br/>
<label>Your email</label>
<input type="text" name="user[email]">
<br/>
<label>Your password</label>
<input type="text" name="user[password]">
<br/>
<input type="submit" name="submit!">
</form>


